.table-element {
  width: 100%;
  background:#fff;
  border: 1px solid #AFAFAF;
  border-collapse: collapse;
}

.table-element, .table-element th, .table-element td {
  border: 1px solid #AFAFAF;
  padding:7px;
  text-align: center;
}
