<div class="j-table-element" [ngClass]="{'m-p': (isEditMode$ | async)}" contenteditable="true" >
  <select [formControl]="tableSize" *ngIf="(isEditMode$ | async)">
    <option *ngFor="let item of values" [value]="item">{{item}}</option>
  </select>
  <table class="table-element">
    <thead>
      <tr>
        <th *ngFor="let item of colsCount">xx</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rowsCount">
        <td *ngFor="let item of colsCount">yy</td>
      </tr>
    </tbody>
  </table>

</div>

