<div class="main" [style.width]="width+'px'" [style.height]="height+'px'" Droppable>


  <!-- <app-text-widget ></app-text-widget> -->

  <gridster #gridsterRef [style.width]="width+'px'" [style.height]="height+'px'" [style.background]="bgColor" [options]="gridsterDefaultConfig" [style.overflow]="'hidden'">


    <gridster-item *ngFor="let item of widgetItems" [item]="item.gridItem">
      <app-widget [widgetComponent]="item.component" [widgetData]="item.data" (onEditorEdit)="editWidget($event)" (onEditorEditEnd)="editWidget(null)"></app-widget>
      <!-- <div style="width: 100%; height: 100%; background-color: red;" ></div> -->
    </gridster-item>


  </gridster>

</div>

<div class="btn-print">
  <button (click)="print()">PRINT PDF</button>
  <button (click)="togglePreviewMode()" class="">{{!isPreviewMode ? 'PREVIEW MODE' : 'EDIT MODE'}}</button>
</div>
