.editor-style-tab-item {
  margin: 10px 0px;
}


.jz-control-style {
  border: 1px solid #eee;
  padding: 5px;
  margin: 7px 0px;
  border-radius: 10px;

  .actions {
    display: flex;
    justify-content: flex-end;
    margin:5px 0px;
    position: relative;
    svg {
      width: 32px;
      height: 32px;
      position: absolute;
      top:-20px;
      border-radius: 100%;
      padding:4px;
      cursor: pointer;
      &:hover {
        background:#eee;
      }
    }
  }
}

.btn-actions {
  display: flex;
  justify-content: flex-end;

  .btn-add {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    padding: 7px 16px;
    font-family: Inter;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #344054;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }
}
