.j-grid-element {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  // padding:20px;
  background:#fff;
  .droppable-item {
    width: 100%;
    padding: 20px;
    border: 1px dashed #2C363A;
    background: #F0F4F6;
    border-radius: 7px;
    text-align: center;
    color:#333;
    font-size: 13px;
  }
}
