.j_certification-editor {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  width: 100%;
}

.editor-container {
  width:100%;
  height: 100%;
  overflow-y: auto;
  max-height: 100%;
  background:#eee;

}

.gridster-container {
  padding: 20px;
}
