<div class="jz-control-style">
  <label class="control-label">{{control.label}}</label>
  <div class="control-input-container" [ngClass]="{'full-width': control.unit === undefined}">
    <input class="control-input" *ngIf="control.type != 'list'" [type]="control.type" [formControl]="inpControl" />
    <select class="control-input" *ngIf="control.type === 'list'" [formControl]="inpControl">
      <option  *ngFor="let sug of control.suggestions" [value]="sug">{{sug}}</option>
    </select>
    <div class="unit" *ngIf="control?.unit">{{control.unit}}</div>
  </div>
  <div class="control-hint" *ngIf="control?.hint">
    {{control.hint}}
  </div>
</div>
