.jz-control-style {
  max-width: 100%;

  .control-label {
    color: #344054;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .control-input-container {
    width: 100%;
    display: grid;
    height: 45px;
    grid-template-columns: 1fr 60px;
    border-radius: 8px;
    margin: 4px 0px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    &.full-width{
      grid-template-columns: 1fr;
    }
    &:has(.control-input:focus) {
      box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    }

    // overflow: hidden;

    .control-input {
      color: #344054;
      padding: 0px 10px;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 8px;
      outline: none;
    }

    .unit {
      color: #667085;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #D0D5DD;
    }
  }

  .control-hint {
    color: #667085;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
