.jz-editor-preview {
  width: 400px;
  height: 1050px;
  background:#fff;
  overflow: visible;

  * {
    box-sizing: border-box !important;
  }

  gridster, gridster-item {
    overflow: visible !important;
  }
}

.custom-gridster-item {
  &:hover {
    .jz-widget .jz-widget-controls {
      display: block !important;
    }

  }
}
