<div *ngIf="(templateEditorConfig$ | async) as obj"  class="jz-editor-preview"
  [style.backgroundColor]="obj.grid.style.backgroundColor"
  [style.padding]="obj.grid.style.padding+'px'"
  [style.width]="obj.grid.width+'px'"
  [style.height]="obj.grid.height+'px'"
> <!-- DROPPABLE -->
  <gridster [options]="gridsterConf" [style.backgroundColor]="obj.grid.style.backgroundColor">
    <gridster-item *ngFor="let widget of obj.widgets" [item]="widget.gridConfig" class="custom-gridster-item" >
      <app-widget [config]="widget" [datasource]="datasource" [schema]="obj.schema"
        (onEventTrigger)="onEventTriggerHandler($event)"
        (onDelete)="onWidgetDeleteHandler(widget)"
        [editable]="isEditable"></app-widget>
    </gridster-item>
  </gridster>

</div>
