<div class="editor">
  <div class="editor-header">
    <div class="editor-header-top">
      <div></div>
      <button class="btn-editor btn-save" (click)="saveTemplate()">
        <svg class="btn-icon">
          <use xlink:href="assets/editor-assets/icons/download-icon.svg#download-icon" />
        </svg>
        <span>Save Template</span>
      </button>
    </div>
    <div class="editor-header-toolbar" *ngIf="currentEditor">
      <ngx-editor-menu [editor]="currentEditor" [toolbar]="toolbar"></ngx-editor-menu>
    </div>
  </div>

  <div class="editor-aside">
    <div class="editor-tab">
      <div class="editor-tab-header">
        <button class="btn-editor" (click)="currentTab = TAB.SCHEMA_VARIABLES">
          <svg class="btn-icon">
            <use xlink:href="assets/editor-assets/icons/styles-icon.svg#styles-icon" />
          </svg>
          <span>Schema</span>
        </button>
        <button class="btn-editor" (click)="currentTab = TAB.STYLES">
          <svg class="btn-icon">
            <use xlink:href="assets/editor-assets/icons/styles-icon.svg#styles-icon" />
          </svg>
          <span>Style</span>
        </button>
        <button class="btn-editor" (click)="currentTab = TAB.ELEMENTS">
          <svg class="btn-icon">
            <use xlink:href="assets/editor-assets/icons/elements-icon.svg#elements-icon" />
          </svg>
          <span>Elements</span>
        </button>
      </div>
      <div class="editor-tab-body">
        <app-editor-style-tab *ngIf="currentTab === TAB.STYLES"></app-editor-style-tab>
        <app-widget-style-tab *ngIf="currentTab === TAB.WIDGET_EDIT" [widget]="currentWidget!"></app-widget-style-tab>
        <app-draggable-elements-tab *ngIf="currentTab === TAB.ELEMENTS"></app-draggable-elements-tab>
        <app-editor-schema-variables *ngIf="currentTab === TAB.SCHEMA_VARIABLES" ></app-editor-schema-variables>
      </div>
    </div>

  </div>

  <div class="editor-body">
    <app-editor-preview (onEventTrigger)="onEventTrigger($event)"></app-editor-preview>
  </div>
</div>
