<table class="jz-widget-table">
  <thead>
    <th>head1</th>
    <th>head1</th>
    <th>head1</th>
    <th>head1</th>
  </thead>
  <tbody>
    <tr>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
    </tr>

    <tr>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
    </tr>

    <tr>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
    </tr>

    <tr>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
      <td>val1</td>
    </tr>
  </tbody>
</table>
