<div class="jz-widget-content">
  <table  class="jz-widget-table" *ngIf="!!variables.rows && !!variables.cols" #tableRef>
    <thead>
      <th *ngFor="let head of matrixHeader; let i=index;" [attr.contenteditable]="isEditMode" (input)="onContentChange(0,i, $event)">
        {{head}}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let line of matrixBody; let l=index;">
        <td *ngFor="let col of line; let c=index;" [attr.contenteditable]="isEditMode" (input)="onContentChange(l+1,c, $event)">
          {{col}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
