// TO-DO (ViewEncapsulation components)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin:0px;
}

*{
  box-sizing: border-box;
}

gridster .gridster-row {
  border:1px solid rgba(0, 0, 255, 0.3) !important;
}
gridster .gridster-column {
  border:1px solid rgba(0, 0, 255, 0.3) !important;
}


.NgxEditor__ImageWrapper {
  padding:0px !important;
}

.ProseMirror {
  padding:0px !important;
  * {
    margin:0px !important;
  }
}
.NgxEditor {
  border: 0px solid white !important;
  background:transparent !important;
  height: 100% !important;
  width:100% !important;
}




// angular-material pre
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// widget style
.widget-modal {
  background:#fff;
  height: 100%;
  width: 100%;
  padding:7px;
}
